@import '../shared/styles';
@import '../shared/variables';

html, body {
    margin: 0;
    padding: 0;
}

.notice {
    text-align: center;
    margin-top:15px;
    span {
        color: red;
        font-weight: bold;
    }
}

.container {
    display: flex;
    flex-direction: row;

    @include mobile {
        flex-direction: column;
    }
}

.quote {
    width: 50vw;
    height: 85vh;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
        width: 96vw;
        max-height: 80vh;
        text-align: center;
    }

    @include tablet-in-portrait-mode {
        width: 45vw;
    }

    .regtxt {
        margin: 10px;
        font-size: 20pt;
        font-weight: bold;

        @include mobile {
            margin: 5pt;
        }
    }

    #mf {
        margin: 10px;
        font-size: 30pt;
        font-weight: bold;
        @include gradientText($darker-short-text-gradient); 
    }

    #learning {
        margin: 10px;
        font-size: 55pt;
        font-weight: bold;
        @include gradientText($default-gradient); 
    }
}

.links {
    width: 50vw;
    height: 85vh;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include mobile {
        display: none;
    }

    a {
        text-decoration: none;
        color: unset;
    }

    .link-outline {
        width: 40vw;
        height: 15vh;
        padding: 0 0.5vw;
        border-radius: 25px;
        box-sizing: border-box;
        background: $default-gradient;

        text-align: right;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link-cover {
        width: 39vw;
        height: 13.5vh;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;

        position: absolute;
        text-align: left;
        font-size: larger;
        background-color: var(--backgroundColor);

        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }

    .link-outline:hover .link-cover {
        width: 200px;
    }

    .link-desc {
        color: black;
        font-size: large;
        font-weight: bold;
    }
}