@import "../shared/styles/rootStyles";

.projects-container {
  margin: 20px auto;
  text-align: center;
  max-width: 1280px;

  .page-description {
    padding: 0px 10px;
  }

  p {
    font-size: 20px;
  }
}
